.modal-title {
    font-weight: 700;
    font-size: 1.5rem;
};

.modal-body {
    .parrafos-modales {
        text-align: left;
        font-size: 1.25rem;
    };
};

.card-title, .card-text {
    font-size: 1.25rem;
}

// .card {
//     width: 15rem;
//     transition: 0.3s;
// }

// .card:hover {
//     width: 16rem;
// }